<!DOCTYPE html>
<html class="homepage no-touchevents cors xhrresponsetypearraybuffer bloburls video localstorage target no-videoautoplay no-highlight" lang="en" style="">
<head>
	<title>Innovators</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="#5F6D70" name="theme-color">
	<link href="https://testhtml/assets/images/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon">
	<link href="https://testhtml/assets/images/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="152x152">
	<link href="https://testhtml/assets/images/ico/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="https://testhtml/assets/images/ico/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="https://testhtml/assets/images/ico/favicon-128x128.png" rel="icon" sizes="128x128" type="image/png">
	<link href="https://testhtml/assets/images/ico/favicon-192x192.png" rel="icon" sizes="192x192" type="image/png">
	<link href="https://testhtml/assets/images/ico/favicon.ico" rel="shortcut icon">
	<meta content="https://testhtml/assets/images/facebook-share.jpg" property="og:image">
	<meta content="" name="description">
	<link href="data1/main.css" rel="stylesheet">
	<!--
	<link href="data1/jquery.bxslider.css" rel="stylesheet">
	<script src="data1/jquery.min.js">
	</script>
	<script src="data1/modernizr.min.js">
	</script>
	<script src="data1/jquery.bxslider.min.js">
	</script>
	-->

	<script>
	 function getVacancies(pageName,divName,divTitleName)
	 {
	   // Send Department ID to Data Page
	   var depID = document.getElementById('Sector').value;
	   var locID = document.getElementById('Location').value;

	   var xmlhttp;
	   var strURL = pageName + '?depID=' + depID + '&locID=' + locID;
	   if (window.XMLHttpRequest)
	   {
	     xmlhttp=new XMLHttpRequest();
	   }
	   else
	   {
	     xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	   }
	   xmlhttp.onreadystatechange=function()
	   {
	     if (xmlhttp.readyState==4 && xmlhttp.status==200)
	     {
	       if(xmlhttp.responseText=='Invalid')
	       {
	         // Update the div with failure message?????
	         eval(divName).innerHTML = '';
	       }
	       else
	       {
	         if(divTitleName!='')
	         {
	           if(xmlhttp.responseText=='')
	           {
	             document.getElementById(divTitleName).style.display = 'none';
	             document.getElementById(divName).style.display = 'none';
	           }
	           else
	           {
	             document.getElementById(divTitleName).style.display = 'block';
	             document.getElementById(divName).style.display = 'block';
	           }
	         }
	         eval(divName).innerHTML = xmlhttp.responseText;
	       }
	     }
	   }
	   xmlhttp.open("GET",strURL,true);
	   xmlhttp.send();
	 }
	</script>
</head>
<body class="fp-cookie-not-accepted">
	<div class="component fp-header fp-header--static theme-black closed" data-component-name="header">
		<a class="fp-logo" href="index.html">Home</a>
		<div class="component fp-navigation closed" data-component-name="navigation">
			<a class="fp-btn fp-btn__login" href="https://testhtml/profile/">Log in</a>
			<div class="fp-navigation-gradient" style="opacity: 0; transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);"></div><a class="fp-nav-toggle" href="https://testhtml/#"><span class="fp-toggle-content"><span class="fp-pulse"><span class="fp-pulse-inner"></span> <span class="fp-pulse-outer"></span></span> <span class="fp-toggle-opened"><span class="fp-icon-cross"></span> <span class="fp-icon-slide"></span></span></span></a>
			<ul class="fp-nav-list">
				<li class="fp-nav-list-item" style="opacity: 0; transform: translate(10%, 0%) matrix(1, 0, 0, 1, 0, 0);">
					<a class="fp-nav-link" href="projects.html" title="Projects">Projects</a>
				</li>
				<li class="fp-nav-list-item" style="opacity: 0; transform: translate(10%, 0%) matrix(1, 0, 0, 1, 0, 0);">
					<a class="fp-nav-link" href="studio.html" title="About">About</a>
				</li>
				<li class="fp-nav-list-item" style="opacity: 0; transform: translate(10%, 0%) matrix(1, 0, 0, 1, 0, 0);">
					<a class="fp-nav-link" href="news.html" title="News">News</a>
				</li>
				<li class="fp-nav-list-item" style="opacity: 0; transform: translate(10%, 0%) matrix(1, 0, 0, 1, 0, 0);">
					<a class="fp-nav-link" href="plus.html" target="_blank" title="+Plus">+Plus</a>
				</li>
				<li class="fp-nav-list-item" style="opacity: 0; transform: translate(10%, 0%) matrix(1, 0, 0, 1, 0, 0);">
					<a class="fp-nav-link fp-nav-link--active" href="careers.html" title="Careers">Careers</a>
				</li>
				<li class="fp-nav-list-item" style="opacity: 0; transform: translate(10%, 0%) matrix(1, 0, 0, 1, 0, 0);">
					<a class="fp-nav-link" href="contact.html" title="Contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<style>
	 .netspinbox {
	   height: auto;
	   max-height: 625px;
	   margin: 72px 0 0 0;
	   background-color: #5F6D70;
	 }
	 .netspinbox h1 {
	   font-family: "Open Sans", Helvetica, Arial;
	   font-size: 21px;
	   color: #FFFFFF;
	   margin: 45px 0 0 48px;
	   line-height: 112px;
	 }
	</style>
	<div class="netspinbox">
		<h1>Careers</h1>
		<div class="bx-wrapper" style="max-width: 100%;">
			<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 530px;">
				<ul class="bxslider" style="width: 860%; position: relative; transition-duration: 0s; transform: translate3d(-1865px, 0px, 0px);">
					<li class="bx-clone" style="background-image: url(&quot;/carousel/Open-House-201913122020-220519.jpg&quot;); float: left; list-style: none; position: relative; width: 1865px;"><img src="data1/slide.gif">Open House 2019</li>
					<li style="background-image: url(&quot;/carousel/Environmental-Engineering-team13122020-220431.jpg&quot;); float: left; list-style: none; position: relative; width: 1865px;"><img src="data1/slide.gif">Environmental Engineering team</li>
					<li style="background-image: url(&quot;/carousel/Modelshop13122020-220445.jpg&quot;); float: left; list-style: none; position: relative; width: 1865px;"><img src="data1/slide.gif">Modelshop</li>
					<li style="background-image: url(&quot;/carousel/Open-House-201813122020-220507.jpg&quot;); float: left; list-style: none; position: relative; width: 1865px;"><img src="data1/slide.gif">Open House 2018</li>
					<li style="background-image: url(&quot;/carousel/Open-House-201913122020-220519.jpg&quot;); float: left; list-style: none; position: relative; width: 1865px;"><img src="data1/slide.gif">Open House 2019</li>
					<li class="bx-clone" style="background-image: url(&quot;/carousel/Environmental-Engineering-team13122020-220431.jpg&quot;); float: left; list-style: none; position: relative; width: 1865px;"><img src="data1/slide.gif">Environmental Engineering team</li>
				</ul>
			</div>
			<div class="bx-controls bx-has-pager bx-has-controls-direction">
				<div class="bx-pager bx-default-pager">
					<div class="bx-pager-item">
						<a class="bx-pager-link active" data-slide-index="0" href="https://testhtml/">1</a>
					</div>
					<div class="bx-pager-item">
						<a class="bx-pager-link" data-slide-index="1" href="https://testhtml/">2</a>
					</div>
					<div class="bx-pager-item">
						<a class="bx-pager-link" data-slide-index="2" href="https://testhtml/">3</a>
					</div>
					<div class="bx-pager-item">
						<a class="bx-pager-link" data-slide-index="3" href="https://testhtml/">4</a>
					</div>
				</div>
				<div class="bx-controls-direction">
					<a class="bx-prev" href="https://testhtml/">Prev</a><a class="bx-next" href="https://testhtml/">Next</a>
				</div>
			</div>
		</div>
	</div>
	<div class="fp-copy fp-copy--detail" style="padding-top: 35px">
		<div class="fp-copy__inner">
			<h3>We welcome the very best talent</h3>
			<p></p>
			<p>Foster + Partners is a dynamic, multidisciplinary practice driven by innovation and collaboration. We offer a diverse selection of roles across fourteen of our global studios in London, Abu Dhabi, Bangkok, Beijing, Buenos Aires, Dubai, Hong Kong, Madrid, New York, San Francisco, Shanghai, Shenzhen, Singapore and Sydney.<br>
			<br>
			Our work is underpinned by a sustainable approach to design and engineering. We are committed to supporting diversity and inclusivity and strive to create a working environment that is responsive to different cultures. We value the contributions of our diverse team and are proud to offer equal opportunities for all, regardless of age, disability, gender reassignment, marriage and civil partnership, race, religion or belief, sex and sexual orientation.<span></span></p>
			<p></p>
			<p><a class="fp-btn" href="https://testhtml/life.asp">Discover life at Foster + Partners</a></p>
		</div>
	</div>
	<div class="fp-vacancies__header fp-vacancies__header-home">
		<h4>All vacancies</h4>
	</div>
	<div class="fp-vacancies__filters fp-vacancies__filters-home">
		<div class="fp-select fp-select--form">
			<select class="fp-select--departments" id="Sector" name="Sector" onchange="getVacancies(&#39;getVacancies.asp&#39;,&#39;depJobs&#39;,&#39;&#39;);getVacancies(&#39;getFeaturedVacancies.asp&#39;,&#39;featuredJob&#39;,&#39;featuredJobTitle&#39;);">
				<option selected value="0">
					All departments
				</option>
				<option value="24">
					Architecture
				</option>
				<option value="3">
					Communications
				</option>
				<option value="98">
					Construction design management
				</option>
				<option value="25">
					Design
				</option>
				<option value="26">
					Engineering
				</option>
				<option value="27">
					Facilities
				</option>
				<option value="28">
					Finance
				</option>
				<option value="29">
					Human resources
				</option>
				<option value="30">
					Information systems and technology
				</option>
				<option value="70">
					Project management
				</option>
				<option value="179">
					Urban design group
				</option>
				<option value="206">
					Workplace Consultancy
				</option>
			</select>
			<div class="nice-select fp-select--departments" tabindex="0">
				<span class="current">All departments</span>
				<ul class="list ps ps--theme_default ps--active-y" data-ps-id="8423ebfc-b67e-c627-d002-a48ae88d968d">
					<li class="option selected" data-value="0">All departments</li>
					<li class="option" data-value="24">Architecture</li>
					<li class="option" data-value="3">Communications</li>
					<li class="option" data-value="98">Construction design management</li>
					<li class="option" data-value="25">Design</li>
					<li class="option" data-value="26">Engineering</li>
					<li class="option" data-value="27">Facilities</li>
					<li class="option" data-value="28">Finance</li>
					<li class="option" data-value="29">Human resources</li>
					<li class="option" data-value="30">Information systems and technology</li>
					<li class="option" data-value="70">Project management</li>
					<li class="option" data-value="179">Urban design group</li>
					<li class="option" data-value="206">Workplace Consultancy</li>
					<li style="list-style: none; display: inline">
						<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
							<div class="ps__scrollbar-x" style="left: 0px; width: 0px;" tabindex="0"></div>
						</div>
						<div class="ps__scrollbar-y-rail" style="top: 0px; height: 298px; right: 0px;">
							<div class="ps__scrollbar-y" style="top: 0px; height: 139px;" tabindex="0"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="fp-select fp-select--form">
			<select class="fp-select--locations" id="Location" name="Location" onchange="getVacancies(&#39;getVacancies.asp&#39;,&#39;depJobs&#39;,&#39;&#39;);getVacancies(&#39;getFeaturedVacancies.asp&#39;,&#39;featuredJob&#39;,&#39;featuredJobTitle&#39;);">
				<option selected value="0">
					All locations
				</option>
				<option value="13">
					London
				</option>
				<option value="7">
					Beijing
				</option>
				<option value="9">
					Hong Kong
				</option>
				<option value="12">
					Kuwait
				</option>
				<option value="146">
					San Francisco
				</option>
			</select>
			<div class="nice-select fp-select--locations" tabindex="0">
				<span class="current">All locations</span>
				<ul class="list ps ps--theme_default" data-ps-id="7882f68d-d143-6689-b9c3-edb9841939c1">
					<li class="option selected" data-value="0">All locations</li>
					<li class="option" data-value="13">London</li>
					<li class="option" data-value="7">Beijing</li>
					<li class="option" data-value="9">Hong Kong</li>
					<li class="option" data-value="12">Kuwait</li>
					<li class="option" data-value="146">San Francisco</li>
					<li style="list-style: none; display: inline">
						<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
							<div class="ps__scrollbar-x" style="left: 0px; width: 0px;" tabindex="0"></div>
						</div>
						<div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
							<div class="ps__scrollbar-y" style="top: 0px; height: 0px;" tabindex="0"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr class="fp-separator">
	<div class="fp-vacancies__header fp-vacancies__header-@@theme">
		<h4>Other vacancies</h4>
	</div>
	<div class="fp-vacancies">
		<div class="fp-vacancies__cards-container" id="depJobs">
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1447">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Applications Developer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1438">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Architect</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1401">
				<div class="fp-vacancies__card-inner">
					<p>Beijing</p>
					<h5>Architect</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1460">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Architect</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1462">
				<div class="fp-vacancies__card-inner">
					<p>Kuwait</p>
					<h5>Architect</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1378">
				<div class="fp-vacancies__card-inner">
					<p>Beijing</p>
					<h5>Architectural Assistant - Part 2</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1478">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Architectural Assistant 1</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1461">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Architectural Assistant 2</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1476">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Artist Assistant</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1450">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Bilingual Bid Coordinator</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1480">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>BIM &amp; Design Systems Coordinator</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1457">
				<div class="fp-vacancies__card-inner">
					<p>San Francisco</p>
					<h5>BIM &amp; Design Systems Technician</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1456">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>BIM &amp; Design Systems Technician</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1448">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>CFD Analyst (SMG)</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1419">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Design Systems Analyst</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1444">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Design Systems Analyst – Robotics</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1475">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Desktop Services Manager</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1472">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Environmental Design Assistant</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1453">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Fire Engineer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1474">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Graduate Mechanical Engineer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1451">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Health &amp; Safety Officer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1470">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>HR Assistant</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1471">
				<div class="fp-vacancies__card-inner">
					<p>Hong Kong</p>
					<h5>Interior Designer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1458">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Interior Designer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1434">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Landscape Architect</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1446">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Principal Designer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1449">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Project Manager</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1459">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Senior Bid Manager</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1452">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Senior Fire Engineer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1473">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Senior Mechanical Engineer</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1429">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Senior Workplace Consultant</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1454">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Structural Engineer (E1)</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a> <a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1455">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Structural Engineer (E2)</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
			<div class="fp-vacancies__row">
				<a class="fp-vacancies__card" href="https://testhtml/vacancy.aspx?VID=1467">
				<div class="fp-vacancies__card-inner">
					<p>London</p>
					<h5>Studio Project Accountant</h5><span class="fp-btn fp-btn__apply">Apply</span>
				</div></a>
			</div>
		</div>
	</div>
	<hr class="fp-separator">
	<div class="fp-vacancies fp-vacancies__prospective">
		<h4>Can't find any job vacancies?</h4>
		<p>Foster + Partners has an international presence with offices in 14 cities including Abu Dhabi, Beijing, Madrid, New York, San Francisco, Singapore, Shanghai, Sydney and our headquarters in London. If you haven't found the job vacancy on our site today, you can submit your details prospectively with us and one of our team will get in touch with you.</p>
		<p><a class="fp-btn" href="https://testhtml/create-account.asp">Submit your details prospectively</a></p>
	</div>
	<div class="fp-cookie-bar">
		<div class="fm-cookie-copy">
			<p>This website uses cookies. By continuing to use this website, you agree to the use of cookies. More info <a href="https://testhtml/privacy-policy/">here</a></p>
		</div><button class="fp-button fp-button-icon fp-cookie-close" type="button"><span class="icon__i"></span></button>
	</div>
	<div class="fp-footer fp-footer--@@layout">
		<div class="fp-footer__copyright">
			Copyright © 2021 <span class="pre">All rights reserved.</span> <span class="fp-footer__privacy"><a class="fp-nav-link" href="https://testhtml/privacy-policy/" title="Privacy">Privacy</a></span>
		</div>
		<div class="fp-footer__sidenav">
			<div class="fp-footer__usernav">
				<a class="fp-nav-link" href="https://testhtml/create-account.aspx" title="Sign Up">Sign Up</a> <a class="fp-nav-link" href="https://testhtml/profile/" title="Login">Login</a>
			</div>
			<div class="fp-footer__socials">
				<a class="fp-icon fp-icon__facebook" href="http://www.facebook.com/abc" target="_blank"></a> <a class="fp-icon fp-icon__twitter" href="http://twitter.com/abc" target="_blank"></a> <a class="fp-icon fp-icon__linkedin" href="http://www.linkedin.com/company/abc" target="_blank"></a> <a class="fp-icon fp-icon__instagram" href="https://www.instagram.com/abc" target="_blank"></a>
			</div>
		</div>
	</div>
	<!--
	<script src="data1/main.js" type="text/javascript">
	</script>
	-->
	<script>
	 $(document).ready(function(){
	   $('.bxslider').bxSlider({
	     preloadImages: 'all',
	     minSlides: 1,
	     maxSlides: 1,
	     auto: true,
	     speed: 3000,
	     pause: 10000,
	     moveSlides: 1,
	     pager: true,
	     useCSS: true
	   });
	 });
	</script>
</body>
</html>
