<html>
    <head>
        <title>sector</title>
        <link rel="stylesheet" href="sector.css">
    </head>
    <body>

<div class="pp">
    <div class="t"><a href="#" class="kk"><img src="logow.jpg" width="100px" height="80px"></a></div>
    
    <div class="ppp">
        <ul>
            <li><a href="#">tab 06</a></li>
            <li><a href="#">tab 05</a></li>
            <li><a href="#">tab 04</a></li>
            <li><a href="#">tab 03</a></li>
            <li><a href="#">tab 02</a></li>
            <li><a href="#">Sector</a></li>

         </ul>
    </div>
</div>
<hr>

<h3>Sector Types</h3>

<div class="full">

    <div class="sec">

    </div>

    <div class="seb">

    </div>

    

</div>



    </body>
</html>