h3 {
    padding: 20px;
}

[class*="sector"] {
    max-width: 640px;
    height: 320px;
    background-size: cover;
    position: relative;
    left: 25%;
    top: 15px;
}

.sec1 {
    background-image: url('../media/sector-agriculture.png');
}

.sec2 {
    background-color: rgb(47, 0, 255);
}

.sec3 {
    background-image: url('../media/sector-service.jpg');
}
