header {
    /*background-image: linear-gradient(#6b6549, #8f8456);*/
}

.navi, .about {
    background-color: #353535;
}

.navi:hover {
    background-color: #000000;
}

.about h2 {
    padding: 1em 0 1em 0;
}

.cover {
    background-image: url("../media/contactus.jpg");
}

.main {
    background-color: #444444;
    /* background-color: white; */
    border-top: 5px solid #444444;
    /*border-bottom: 1px solid #7a7a7a;*/
    /*border-radius: 10px;*/
}

.box {
    /*margin: 1%;*/
    display: inline-block;
    background: #353535;
    width: 49.8%;
    padding-bottom: 1em;
    /*border-right: 1px solid #7a7a7a;*/
    /*border-left: 1px solid #7a7a7a;*/
    text-align: left;
    line-height: 2em;
    /*height: 500px;*/

}

.box h2 {
    font-weight: 300;
    padding: 3% 0;
    color: rgb(197, 197, 197);
}

.btn {
    margin: 0;
}

.details {
    padding-left: 3em;
    color: rgb(185, 183, 183);
    
}

.bottom {
    padding: 1em;
    background-color: #8f8456;
}

.bottom h3 {
    padding-top: 2em;
    color: #303030;
}

/*.contact-list_ul {*/
/*    display: inline-block;*/
/*}*/

/*.contact-list-item {*/
/*    display: inline-block;*/
/*}*/

.about {
    /*padding-bottom: 2em;*/
    /*width: 100%;*/
}

.careercover {
    /*border-bottom: 1px solid #7a7a7a;*/
    background-image: url("../media/Careers.jpg");
    background-size: cover;
    background-attachment: unset;
    height: 250px;
}

.moreinfocover {
    background-image: url("../media/Contactdiv.jpg");
    background-size: cover;
    background-attachment: unset;
    /*border-bottom: 1px solid #7a7a7a;*/
    height: 250px;
}

.socials-list {
    display: flex;
    justify-content: center;
}

.fp-contact-tel {
    color: white;
}

.socials-list li {
    display: inline-block;
}

.socials {
    width: 60px;
    height: 60px;
    display: block;
    background-size: contain;
    margin: 0.5em;
    /*cursor: pointer;*/
}

.socials.li {
    background-image: url("../media/linkedin-icon.png");
}

.socials.tw {
    background-image: url("../media/tw-icon.png");
}

.socials.fb {
    background-image: url("../media/fb-icon.png");
}

.socials.insta {
    background-image: url("../media/instagram-icon.png");
}

/*button {*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    background-color: rgb(100, 100, 100);*/
/*    border-radius: 6px;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*}*/

/*button:hover {*/
/*    background-color: black;*/
/*    font-size: 105%;*/
/*    transition: .9s;*/
/*}*/