body {
}

header, .navi {
    background-color: #afaf98;
}

.cover {
    background-image: url("../media/contact_us_banner.jpg");
}

.box {
    display: inline-block;
    background: white;
    border: 1px solid #455153;
    width: 500px;
    height: 500px;
    padding: 150px;
}

.bottom {
    padding: 5px;
}

.contact-list_ul {
    display: inline-block;
}

.contact-list-item {
    display: inline-block;
}

.about {
    width: 100%;
    background-color: #afaf98;
}

.socials-list {
    display: flex;
    justify-content: center;
}

.socials-list li {
    display: inline-block;
}

.socials {
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
    margin: 10px;
    /*cursor: pointer;*/
}

.socials.li {
    background-image: url("../media/linkedin-icon.png");
}

.socials.tw {
    background-image: url("../media/tw-icon.png");
}

.socials.fb {
    background-image: url("../media/fb-icon.png");
}

.socials.insta {
    background-image: url("../media/instagram-icon.png");
}

button {
    width: 100px;
    height: 30px;
    background-color: gray;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: black;
    /*font-size: 105%;*/
    transition: .9s;
}