body {
    background-image: url("../media/contact us.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 72px;
    color: white;
}

h3 {
    color: #9b9b9b;
}
@media screen and (max-width: 780px) {
    header {
        font-size: 70%;
    }
}
header {
    height: 200vh;
}

.row {
    display: flex;
    justify-content: center;
}

.input-container {
    width: 600px;
}

input:focus::placeholder, textarea:focus::placeholder {
    font-size: 0.75em;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;

}


input:focus, textarea:focus {
    outline: 0;
}

.styled-input {
    display: inline-block;
    width: 293px;
    margin: 2px;
    border-radius: 4px;
}

.styled-input.wide {
    width: 595px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 595px;
    }

    .submit-btn {
        width: 100%;
        float: none;
    }
}

input, textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
}

.submit-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}