header {
    background-color: #8f8456;
    background-image: linear-gradient(#6b6549, #8f8456);
}

.navi, .about {
    background-color: #6b6549;
}

.cover {
    background-image: url("../media/contactus.jpg");
}

.main {
    padding: 120px 5%;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    /*border-radius: 10px;*/
}

.box {
    /*margin: 1%;*/
    display: inline-block;
    background: rgba(255, 255, 255, 0);
    width: 49%;
    /*height: 500px;*/

}

.bottom {
    padding: 5px;
}

.bottom h3 {
    padding-top: 5%;
    color: #303030;
}

.contact-list_ul {
    display: inline-block;
}

.contact-list-item {
    display: inline-block;
}

.about {
    width: 100%;
}

.socials-list {
    display: flex;
    justify-content: center;
}

.socials-list li {
    display: inline-block;
}

.socials {
    width: 60px;
    height: 60px;
    display: block;
    background-size: contain;
    margin: 10px;
    /*cursor: pointer;*/
}

.socials.li {
    background-image: url("../media/linkedin-icon.png");
}

.socials.tw {
    background-image: url("../media/tw-icon.png");
}

.socials.fb {
    background-image: url("../media/fb-icon.png");
}

.socials.insta {
    background-image: url("../media/instagram-icon.png");
}

button {
    width: 100px;
    height: 30px;
    background-color: rgb(100, 100, 100);
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: black;
    /*font-size: 105%;*/
    transition: .9s;
}