body {
    /*background-image: url("../media/contact us.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
}

.navi, .about {
    background-color: #404458;
}

.navi:hover {
    /*background-color: #24474b;*/
    background-color: #404458;
}

.about {
    padding: 5% 0;
}

h4 {
    font-weight: 100;
    color: #b9b9b9;
}

@media screen and (max-width: 780px) {
    .styled-input {
        /*width: 100px;*/
    }
}

header {
    /*height: 200vh;*/
    background-color: #404458;
    background-image: linear-gradient(#5a5f79, #404458);
}

.cover {
    height: 80px;
}

.row {
    background-color: rgb(255, 255, 255);
    padding: 3% 0;
    display: flex;
    justify-content: center;
}

.input-container {
    width: 600px;
}

input:focus::placeholder, textarea:focus::placeholder {
    /*font-size: 0.75em;*/
    /*-webkit-transition: all 0.225s ease;*/
    /*transition: all 0.225s ease;*/

}


input:focus, textarea:focus {
    /*outline: 0;*/
}

.styled-input {
    display: inline-block;
    width: 293px;
    margin: 2px;
    border-radius: 4px;
}

.styled-input.wide {
    width: 595px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 595px;
    }

    .submit-btn {
        width: 100%;
        float: none;
    }
}

input, textarea {
    padding: 20px;
    /*border: 0;*/
    width: 100%;
    /*font-size: 1rem;*/
    /*background-color: #2d2d2d;*/
    /*color: white;*/
    /*border-radius: 4px;*/
}

textarea {
    width: 100%;
    min-height: 15em;
}

.submit-btn {
    margin-top: 5%;
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    background-color: #404458;
    color: white;
    font-size: 18px;
}

.submit-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}