
.navi {
    background-color: #5F6D70;
}

/* nav a { 
    color: black;
}

nav :hover {
    background-color: #475153;
}

nav ul :hover {
    background-color: #5f6d7000;
}

.nav-div-inno {
    width: 100%;
}*/

.div-head {
    border-top: 1px solid rgb(149, 178, 182);
    position: absolute;
    top: 80px;
    width: 100%;
    height: 10vh;
    background-color: #5F6D70;
}

.description {
    line-height: 100%;
    /* font-weight: lighter; */
    font-size: 12px;
    position: absolute;
    left: 1.5vh;
    bottom: 2vh;
    color: rgba(255, 255, 255, 0.671);
}

.cover {
    background-image: url('../media/innomain.jpg');
}

header {
    background-color: #4b5557;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.027), rgba(0, 0, 0, 0.349));*/
}

.main-div {
    width: 100%;
}

.div-name {
    padding-top: 2vh;
    color: rgb(196, 196, 196);
    width: 100%;
    height: 90px;
    background-color: #788588;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349));
}

.grid-container {
    display: grid;
    grid-template-columns:31% 31% 31%;
    grid-gap: 3%;
    padding: 3%;
    background-color: #4b5557;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
}

.grid-container a {
    text-decoration: none;
}

[class*="item"] {
    height: 250px;
    border-radius: 10px;
    background-size: cover;
}

a div {
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.856);
}

[class*="item"] :hover {
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 10px;
    color: black;
    transition: .8s;
}

.item1 {
    background-image: url('../media/vega-car.jpg');
}

.item2 {
    background-image: url('../media/F1.jpg');
}

.item3 {
    background-image: url('../media/Genesis-Ark01.jpg');
}

.item4 {
    background-image: url('../media/diyazen01.jpg');
}

.item5 {
    background-image: url('../media/Respirone-Nano-AV99.jpg');
}

.item6 {
    background-image: url('../media/low-cost-ventilator.jpg');
}

.item7 {
    background-image: url('../media/weeder.jpg');
}

.item8 {
    background-image: url('../media/Hand-made-Japan-Jabara.jpg');
}

.item9 {
    background-image: url('../media/remote-controlled-smart-appliance.jpg');
}

.item10 {
    background-image: url('../media/add-more.png');
}

/* .grid-container{
	background-color: rgba(0, 0, 0, 0.144);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
 }
