.nav {
    /*list-style-type: none;*/
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*background-color: #5F6D70;*/
}

nav a {
    /*text-decoration: none;*/
    /*padding: 29px 12px;*/
    /*color: black;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

nav :hover {
    /*background-color: white;*/
    /*color: #736747;*/
    /*transition: .5s;*/
}

nav ul :hover {
    /*background-color: white;*/
    /*transition: .9s;*/
}

.cover-01 {
    background-image: url('../media/vegacar-front.jpg');
}

.cover-02 {
    background-image: url('../media/f1car-01.jpg');
}

.cover-03 {
    background-image: url('../media/Genesisfront.jpg');
}

.cover-04 {
    background-image: url('../media/diyazen01.jpg');
}

.cover-05 {
    background-image: url('../media/Respirone-Nano-AV99-front.jpg');
}

.cover-06 {
    background-image: url('../media/low-cost-ventilator-front.jpg');
}

.cover-07 {
    background-image: url('../media/Weederfront.jpg');
}

.cover-08 {
    background-image: url('../media/Hand-made-Japan-Jabara-front.jpg');
}

.cover-09 {
    background-image: url('../media/remote-controlled-smart-appliance.png');
}

.navi, .about {
    background-color: #c2c287;
}

.navi:hover {
    background-color: #a7d0d2;
}

p {
    text-align: left;
    /*text-justify: auto;*/
}

.btn {
    /*background-color: rgba(0, 0, 0, 0.15);*/
    width: auto;
    /*height: 5vh;*/
    padding: 9px;
    /*border-radius: 20px;*/
    /*color: white;*/
}

/*.btn:hover {*/
/*    background-color: rgba(255, 255, 255, 0.13);*/
/*}*/

/*#736747;*/
