* {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: "Open Sans";
	text-align:center; 
}
@font-face {
	font-family: 'Open Sans';
	src: url('../media/OpenSans.ttf');
}
.nav  {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #f2eee4;
}
.nav-li-a{
		float: right;
}
.logo-li {
		float: left;
}
.logo-li a{
	padding: 0px 12px;
}
.logo {
	max-width: 79px;
	max-height: 80px;
	width: auto;
	height: auto;
}
nav a{
	text-decoration: none;
	padding: 29px 12px;
	color: black;
	display:block;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav :hover {
	background-color: white;
	color: #736747;
	transition: .3s;
}
nav ul :hover{
	background-color: white;
		transition: 2s;
}
.inno-div {
	width: 80%;
	height: 280px;
	background-color: black;
}
.inno-div-image {
	width: 30%;
	height: 280px;
	background-color: red;
	float: left;
}

.inno-div-image1 {
	width: 30%;
	height: 280px;
	background-color: rgb(61, 21, 124);
	background-image: url('../media/vega-car.jpg');
	background-image: cover;
	float: left;}

h2, p {
	color: white;
	float: left;
}
h3 {
	float: right;
	margin: 10px;
}
