
body {
    background-color: #5F6D70;
}

header {
    /*height: 200vh;*/
}

.cover {
    height: 80px;
}

@media screen and (max-width: 780px) {
    header {
        font-size: 70%;
    }
}

/* @font-face {
    font-family: 'Open Sans';
    src: url('../media/Open Sans.ttf');
}*/

.navi {
    background-color: #455153;
}

.about {
    background-color: #455153;
}

.navi:hover {
    background-color: #343f40;
}

.div-goals-invest-about p {
    color: rgb(214, 214, 214);
}

.div-goals-invest {
    text-align: left;
    padding: 50px;
    /*font-family: 'Open Sans', serif;*/
    font-size: 105%;
    position: relative;
    line-height: 26px;
    top: 20px;
    width: 80%;
    height: 100%;
    border: 1px solid #455153;
    margin: 5% 10% 4% 10%;
    color: white;
}

.goals-details {
    color: rgb(255, 255, 255);
}

.goals-details, .ACTION-list {
    margin-top: 10px;
    /* font-weight: 600; */
    color: rgb(233, 232, 232);
}

.button {
    position: relative;
    height: 10vh;
    width: 100%;
}

button {
    width: 200px;
    height: 50px;
    background-color: #399c36;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #36b83a;
    font-size: 105%;
    transition: .9s;

}

.unordered {
    list-style: inside;
    padding: 2% 2% 2% 3%;
}

.ordered {
    list-style: inside;
    padding: 2% 2% 2% 3%;
}

.action {
    line-height: 28px;
    color: rgb(194, 194, 194);
    padding: 10px 10px 2.5% 4%;
}
