body {
}

header {
    background-color: #5F6D70;
    /*height: 200vh;*/
}

.cover {
    height: 80px;
}

.navi, .about {
    background-color: #455153;
}

.navi:hover {
    background-color: #343f40;
}

.div-goals-invest-about p {
    color: rgb(214, 214, 214);
}

.div-goals-invest {
    text-align: left;
    padding: 3em;
    /*font-family: 'Open Sans', serif;*/
    /*font-size: 105%;*/
    position: relative;
    line-height: 1.8em;
    /*top: 20px;*/
    width: 80%;
    height: 100%;
    border: 1px solid #455153;
    margin: 0.5em auto;
    color: white;
}

.goals-details {
    color: rgb(255, 255, 255);
}

.goals-details, .ACTION-list {
    margin-top: 1em;
    /* font-weight: 600; */
    color: rgb(233, 232, 232);
}

.register {
    width: 100%;
    padding: 1em;
}

button {
    width: 200px;
    height: 50px;
    background-color: #399c36;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #36b83a;
    /*font-size: 105%;*/
    transition: .9s;

}

.unordered {
    list-style: inside;
    padding: 1em;
}

.ordered {
    list-style: inside;
    padding: 1em;
}

.action {
    line-height: 1.8em;
    color: rgb(194, 194, 194);
    padding: 1.5em;
}

@media screen and (max-width: 780px) {
    .div-goals-invest {
        padding: 1em 0.8em;
        line-height: 1em;
        width: auto;
        margin: 1em;
    }
}
