.navi, .about {
    background-color: #81a871;
}
.navi:hover {
    background-color: #cbb1a8;
}

.cover {
    height: 80px;
    background-color: #81a871;
}

body {
    /* background-color: #5F6D70;
    background-image: url("../media/login2.jpg"); */
}

