body {
    background-color: #1d243d;
    background-image: url("../media/login2.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/OpenSans.ttf');
}

.container {
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: lightblue;
    background-image: url("../media/login2.jpg");
    opacity: 1.0;
    border-radius: 9px;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 108px 19px rgb(25, 31, 53);
}

.box h4 {
    color: #5c6bc0;
    font-size: 18px;
    margin-top: 94px;;
}

.box h4 span {
    color: #dfdeee;
    font-weight: lighter;
}

.box h5 {
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1px;
    margin-top: -15px;
    margin-bottom: 70px;
}

.box input {
    display: block;
    margin: 20px auto;
    background: #262e49;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #d6d6d6;
}

.box input[type = "text"]:focus. {
    border: 1px solid #79A6FE;

}

.box input[type = "password"]:focus {
    border: 1px solid #79A6FE;
}

a {
    color: #5c7fda;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label input[type = "checkbox"] {
    display: none;
}

label span {
    height: 13px;
    width: 13px;
    border: 2px solid #464d64;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    float: left;
    left: 7.5%;
}

.butn {
    border: 0;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 100px;
    width: 340px;
    height: 49px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 10%;
    transition: 0.3s;
    cursor: pointer;
}

.butn:hover {
    background: #5d33e6;
}

.remembr {
    position: absolute;
    margin-top: 0;
    color: black;
    font-size: 13px;
}

.fogotpas {
    position: relative;
    color: black;
    float: right;
    right: 28px;
}

.donthve {
    position: absolute;
    color: black;
    top: 80%;
    left: 24%;
}

[type=checkbox]:checked + span:before {
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}