body {

}

html {
    scroll-snap-type: y mandatory;
}

header {
    scroll-snap-align: start;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    width: 100%; /* For 100% screen width */
    height: 100vh; /* For 100% screen height */
}

img {
    vertical-align: middle;
}

.Slides {
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    display: none;
    overflow: hidden;
}

.Slides img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50vh;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text-box {
    width: 100%;
    background-image: url("../media/gradient-invert.png");
    bottom: 0;
    height: 204px;
    position: absolute;
}

.text {
    text-align: right;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 3vh;
    right: 1vw;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(109, 109, 109);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots {
    left: 48vw;
    position: absolute;
    bottom: 1vh;
}

.active, .dot:hover {
    height: 11px;
    width: 11px;
    background-color: rgb(255, 255, 255);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .7s;
    animation-name: fade;
    animation-duration: .7s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

.back {
    scroll-snap-align: start;
    background-image: url("../media/body.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.news {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    height: 20vh;
}

.news-grid {
    /*overflow: hidden;*/
    /*color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 8px;
    height: 80vh;
    padding: 8px;
}

[class*="item"] {
    border-radius: 3px;
    border: 1px solid #1c1a1a;
    background-size: cover;


}

.item1 {
    background-image: url('../media/news-01.jpg');
}

.item2 {
    background-image: url('../media/F1.jpg');
}

.item3 {
    background-image: url('../media/Genesis-Ark01.jpg');
}

.item4 {
    background-image: url('../media/f1car-01.jpg');
}
[class*="item"] :hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .6s;
}
.news-grid div {
    width: 100%;
    height: 100%;
}
.news-grid a:hover {
    transition: .6s;
    transform: scale(1.02);
}
.news-grid h3 {
    color: white;
    height: 100%;
}


