* {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: "Open Sans";
	text-align:center; 
}
@font-face {
	font-family: 'Open Sans';
	src: url('../media/OpenSans.ttf');
}

ul {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	background-image: url("../media/gradient.png");
	z-index: 999;
}
.nav-li-a{
		float: right;
}
.logo-li {
		float: left;
}
.logo-li a{
	padding: 0px 12px;
}
.logo {
	max-width: 79px;
	max-height: 80px;
	width: auto;
	height: auto;
}
nav a{
	text-decoration: none;
	padding: 29px 12px;
	color: white;
	display:block;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav :hover {
	background-color: black;
	color: grey;
	transition: .3s;
}
nav ul :hover{
	background-color: black;
		transition: 2s;
}
header {
	background-image: url("../media/home-back01.jpg");
	position: relative;
	top: 0px;
	width: 100%;
	height: 960px;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.news {
	width: 100%;
	height: 550px;
	background-color: rgb(255, 255, 255);
	margin-top: 1100px;
}
.news1 {
	width: 30%;
	height: 400px;
	background-color: rgb(15, 23, 128);
	float: right;
	margin: 20px;
	margin-top: 50px;
	margin-right: 35px;
}
.news {
	font-size: 20;
	text-align: center;
	padding-top: 25px;
}
.div-in-news1 {
	width: 100%;
	height: 40%;
	background-color: blanchedalmond;
	margin-top: 240px;
}
footer {
	width: 100%;
	height: 60px;
	background-color: gray;
}
/*
li a :hover :not(.active) {
  background-color: black;
	bold
}
.active {
  background-color: green;
}
.logo{
width: 50%;
height: 80%;
display: inline;
background-size: cover;}

.bot{
background-image: url("hh.jpg");
width: 100%;height: 900px;
background-size: cover;
}
