*{margin: 0%;
    font-family: "Open Sans";}

    @font-face {
        font-family: 'Open Sans';
        src: url('../media/OpenSans.ttf');
    }

li{float: right;
list-style-type: none;}

a{text-decoration: none;
display: block;
padding: 20px;
color:white;}

.nav{background:transparent;
width: 100%;
height: 60px;}

ul{overflow: hidden;}

.nav1{width: 20%; height: 100%;
float: left;}

.nav2{width: 80%; height: 100%;
float: right;}

.logo{width: 50%;
height: 100%;
display: inline;
background-size: cover;}

.e{padding: 0;}

/*.bot{background-image: url("hh.jpg");
width: 100%;height: 900px;
background-size: cover;
}*/

footer{width: 100%; height: 60px;
background-color:white;}

body{background-image: url("../media/home-back01.jpg");
background-repeat: no-repeat;
background-size:contain;
}

.nav:hover {background:black;
color: black;}

a:hover{color:blanchedalmond;}

.news{width: 100%; height: 550px;
background-color: rgb(255, 255, 255);
margin-top: 1100px;}

.news1{width: 30%; height: 400px;
background-color: rgb(15, 23, 128);
float: right;
margin: 20px;
margin-top: 50px;
margin-right: 35px;
}

footer{background-color: gray;}

.tttttt{padding: 0;}

.news{font-size:20;
text-align: center;
padding-top: 25px;
}


