* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scrollbar-color: #686868 #060606;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/OpenSans.ttf');
}

::selection {
    color: #fff;
    background: #000;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #060606;
}

::-webkit-scrollbar-track {
    background: #686868;
}

/*body*/
body {
    font-family: "Open Sans", serif;
    text-align: center;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

header {
    /*height: auto;*/
    overflow: hidden;
    background-color: white;
}

[class*="cover"] {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 88vh;

}

.about {
    color: white;
    padding: 1em;
    line-height: 1.8em;
    /*font-size: 110%;*/
    /*height: 40%;*/
}

.about p {
    text-align: justify;
    margin: 0.5em;
    text-indent: 4em;

}

.about ul {
    text-align: left;
    /*margin: 0 auto;*/
    margin: 0 4em;
    /*max-width: 500px;*/
}

.about a {
    color: white;
}

/*navigation*/
.navi {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    transition: top 0.3s;
}

.gradient {
    width: 100%;
    height: 204px;
    pointer-events: none;
    background-image: url("../media/gradient.png");
}

.menu-li {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo {
    max-height: 70px;
}

.menu {
    max-height: 20px;
}

.left {
    padding: 5px 12px;
}

.right li {
    padding: 31px 12px;
}

.nav li {
    display: inline-block;
    /*list-style-type: none;*/
}


.navi:hover {
    transition: .6s;
}

.nav-li a {
    /*color: rgb(206, 206, 206);*/
    color: rgb(180, 180, 180);
}

.nav-li a.active, .navi :hover {
    color: rgb(255, 255, 255);
    /*font-weight: 400;*/
    transition: .4s;
}

:not(.active) {
}

/*form*/
.form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 2em auto;
    padding: 2em;
}

.formbox {
    line-height: 1.5em;
    /*color: #574b4b;*/
    margin: 1em auto;
    width: 450px;
    /*display: block;*/
    /*padding: 60px;*/
    /*background-color: #d1dce0;*/
}

.formbox a {
    color: black;
    text-decoration: underline;
}

.frm-text {
    font-size: 12px;
    display: flex;
}

.formbox p {
    font-size: 14px;
    margin: 1em auto;
}

label {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
    /*font-weight: bold;*/
    /*color: black;*/
    /*font-weight: 400;*/
    letter-spacing: 0.5px;
    user-select: none;
    margin: 1em 0;
}

.radio label {
    display: inline-block;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 0 1.5em;
    margin: 8px auto;
    background: #f5f5f5;
    height: 46px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    /*display: inline-block;*/
    /*display: block;*/
    /*color: #000;*/
    /*transition: background-color .3s ease-in-out;*/
}

input[type="radio"] {
    margin: 0 14px;
}

input[type="file"] {
    margin: 1em 0;
    display: block;
    font-size: 12px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    background-color: #eaeaea;
    outline: none;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
    background: #eaeaea;
    transition: 0.4s;
}

.btn {
    background: #f5f5f5;
    border-radius: 100px;
    min-width: 95px;
    height: 32px;
    transition: 0.3s;
    cursor: pointer;
    color: black;
    font-size: 13px;
    margin: 0 32px;
    /*border: 0;*/
    /*border: none;*/
    padding: 0 1em;
}

.btn:hover {
    background: #eaeaea;
    transition: 0.4s;
}

.red {
    background: #a43d3d;
}

.red:hover {
    background-color: red;
}

.regbtn {
    min-width: 200px;
    /*height: 50px;*/
    background-color: #399c36;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 1em 2em;
    margin: 0 1em;
}

.regbtn:hover {
    background-color: #36b83a;
    /*font-size: 105%;*/
    transition: .9s;
}

/*footer*/
footer {
    text-align: left;
    width: 100%;
    background-color: #000;
    color: #9b9b9b;
    font-size: 12px;
    display: block;
    margin-top: auto;
}

.col a:hover {
    color: #fff;
    transition: .4s;
}

footer .row2 {
    position: static;
    bottom: 0;
    margin: 0 2em;
    padding: 1em;
    border-top: 1px solid #9b9b9b;
}

footer .row1 {
    padding: 3em 1em;
}

.col {
    display: inline-block;
    line-height: 1.8em;
    padding: 1em 3em;
}

.col a {
    display: block;
    color: #9b9b9b;
}

.col h4 {
    color: #fff;
    font-weight: 400;
}

/*responsive*/
@media only screen and (orientation: portrait) {
    .nav {
    }
}

@media screen and (max-width: 927px) {
    header {
        font-size: 85%;
    }

    [class*="cover"] {
        height: 78vh;
    }

    .nav .nav-li {
        display: none;
    }

    .menu-li {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 29px 18px;
        transition: top 0.3s;
    }

    .navi-responsive {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        display: block;
        float: none;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .navi-responsive .nav li {
        display: block;
        /*text-align: left;*/
        padding: 4vh 20px;
    }

    .navi-responsive .menu-li {
        padding: 29px 18px;
    }

    .navi-responsive .right {
        /*display:inline-block;*/
        /*background-color: rgba(0, 0, 0, 0.6);*/
    }

    .navi-responsive .gradient {
        display: none;
    }

    .navi-responsive .left {
        width: 100%;
    }

    .navi-responsive .right {
        width: 100%;
    }

    .navi-responsive .nav li:hover {
        background-color: rgba(0, 0, 0, 0.9);
        transition: .4s;
    }

    .about {
        padding: 1em;
    }
}