* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media only screen and (orientation: portrait) {
    /* Mobile Phone View */
    .nav {
    }
}
.nav .menu-li {
    display: none;
}
@media screen and (max-width: 785px) {
    .nav .nav-li {
        display: none;
    }
    .nav .menu :not(:first-child) {
        display: none;
    }
    .nav .menu-li {
        display:inline-block;
    }
    .navi-responsive {
        display: block;
        text-align: left;
        position: fixed;
        right: 0;
        top: 0;
    }
    .navi-responsive {
        position: fixed;
    }
    .navi-responsive {
        display:inline-block;
    }
    .navi-responsive {
        display: none;
    }
}
body {
    font-family: "Open Sans", serif;
    text-align: center;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/OpenSans.ttf');
}

.gradient {
    pointer-events: none;
    background-image: url("../media/gradient.png");
    height: 204px;
    width: 100%;
    position: fixed;
    top: 0;
}
.logo {
    max-width: 79px;
    max-height: 70px;
    /*width: auto;*/
    /*height: auto;*/
}
.nav li {
    padding: 5px 12px;
}
.menu {
    max-width: 1024px;
    max-height: 20px;
    /*width: auto;*/
    /*height: auto;*/
}
.navi{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav li {
    display: inline-block;
    list-style-type: none;
}
.navi :hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: .5s;
}
.nav :hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: .6s;
}
.nav-li a{
    color: rgb(206, 206, 206);
    color: rgb(180, 180, 180);
}
.nav{
    float: right;
    width: 100%;
}
li {
    /*clear: right;*/
    /*overflow: hidden;*/
    /*float: left;*/
    /*text-align: right;*/
    /*padding: 29px 12px;*/
    /*display: flex;*/
}
:not(.active) {
}
.active {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

footer {
    text-align: left;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #9b9b9b;
    font-size: 12px;
    height: 70vh;
    display: block;
    scroll-snap-align: end;
}

footer a {
}

.row2 {
    margin: 1%;
    padding: 2%;
    border-top: 1px solid #9b9b9b ;
}
.row1 {
    padding: 3%;
}
.col {
    display: inline-block;
    line-height: 25px;
    padding: 1%;
    margin: 1%;
}
.col a {
    display: block;
    color: #9b9b9b;
}
.col h4 {
    color: #fff;
    font-weight: 400;
}