.navi, .about {
    background-color: rgb(52, 53, 53);
}

.navi:hover {
    background-color: #130f45;
}

.cover {
    background-image: url('../media/air-line.jpg');
}

.about {
    /*width: 100%;*/
    /*height: 600px;*/
    background-color: rgb(52, 53, 53);
}

.div-news-content {
    /*width: 85%;*/
    /*height: 400px;*/
    /*border: 1px solid black;*/
    /*margin-top: 100px;*/
}

.div-news-back-content {
    background-color: rgba(27, 27, 27, 0.308);
    /*width: 30%;*/
    /*height: 150px;*/
    /*border: 5px solid wheat;*/
}

h2 {
    /*color: white;*/
}

.div-news-more-news {
    /*width: 100%;*/
    /*height: 400px;*/
    /*background-color: teal;*/
}

.news-more-news01 {
    /*width: 50%;*/
    /*height: 100%;*/
    /*background-color: yellow;*/
    /*float: right;*/
}

.news-more-news02 {
    /*width: 50%;*/
    /*height: 100%;*/
    /*background-color: rgb(211, 72, 17);*/
}

.news-more-float01 {
    /*width: 500px;*/
    /*height: 300px;*/
    /*border: 1px solid black;*/
    /*margin-top: 42px;*/
    /*margin-left: 40px;*/
}

.news-more-float02 {
    /*width: 500px;*/
    /*height: 300px;*/
    /*border: 1px solid black;*/
    /*margin-top: 42px;*/
    /*float: right;*/
    /*margin-right: 40px;*/
}

