.navi, .about {
    background-color: #212121;
    color: rgba(255, 255, 255, 0.575);
}

.navi:hover {
    background-color: #1a1a1a;
}

/* .plus{
    padding-top: 15vh;
    font-size: 380%;
    width: 100%;
    font-weight: lighter;
}
.projectstopic{
    padding-left: 52%;
    top: 28vh;
    position: fixed;
    font-size: 250%;
}
*/
.cover {
    background-image: url("../media/projectmain_cover.jpg");
}

.div-for-main-content h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    padding-top: 5vh;
}

/*.div-for-grid {*/
/*    height: 100vh;*/
/*    background-color: rgb(43, 43, 43);*/
/*}*/

.news-grid {
    background-color: rgb(43, 43, 43);
    padding-top: 5vh;
    height: 100vh;
}

.news-grid .row1 {
    /*overflow: hidden;*/
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns:32% 32% 32%;
    grid-gap: 1.5%;
    padding: 1% 1.5%;
    height: 30vh;
}

.news-grid .row2 {
    /*overflow: hidden;*/
    /*color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns:32% 32% 32%;
    grid-gap: 1.5%;
    padding: 1% 1.5%;
    height: 30vh;
}

.news-grid .row3 {
    /*overflow: hidden;*/
    /*color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns:32% 32% 32%;
    grid-gap: 1.5%;
    padding: 1% 1.5%;
    height: 30vh;
}

[class*="item"] {
    border-radius: 3px;
    border: 1px solid #1c1a1a;
    background-size: cover;
}

[class*="item"] :hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.062);
    transition: .6s;
}

.item1 h3 {
    line-height: 30px;
    color: rgb(184, 184, 184);
}

.item1 h4 {
    color: rgb(27, 27, 27);
}

.news-grid a {
    padding-top: 3vh;
}

hr.solid {
    border-top: 1px solid rgb(0, 0, 0);
}

/* .news-grid div { 
    width: 100%;
    height: 100%;
}*/

.news-grid a:hover {
    transition: .6s;
    transform: scale(1.02);
}

.item1 {
    background-color: rgb(87, 88, 88);
}

/*.item2 {*/
/*    background-color: rgb(87, 88, 88);*/
/*}*/

/*.item3 {*/
/*    background-color: rgb(87, 88, 88);*/
/*}*/

/*.pro_name {*/
/*    color: white;*/
/*}*/

/* grid css */
/* .div-for-grid { 
    width: 100%;
    height: 800px;
    background-color: rgb(43, 43, 43);
}

.div-grid-all {
    width: 84%;
    height: 600px;
    background-color: darkslateblue;
    margin: 0 auto;
}

 grid row 
.div-grid-row01 {
    width: 100%;
    height: 200px;
    background-color: darkturquoise;
}

.div-grid-row02 {
    width: 100%;
    height: 200px;
    background-color: deeppink;
}

.div-grid-row03 {
    width: 100%;
    height: 200px;
    background-color: gold;
}

 row 01 css 
.div-row-01 {
    width: 33.3%;
    height: 200px;
    background-color: greenyellow;
    float: left;

}

.div-row-02 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(63, 22, 175);
    float: left;

}

.div-row-03 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(38, 54, 14);
    float: right;

}

row 02 css 

.div-row02-01 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(18, 19, 16);
    float: left;
}

.div-row02-02 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(136, 7, 108);
    float: left;
}

.div-row02-03 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(36, 34, 143);
    float: left;
}

 row 3 css 

.div-row03-01 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(214, 213, 223);
    float: left;
}

.div-row03-02 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(28, 168, 58);
    float: left;
}

.div-row03-03 {
    width: 33.3%;
    height: 200px;
    background-color: rgb(172, 27, 22);
    float: left;
}*/