
.navi, .about {
    /*background-color: rgb(75, 42, 75);*/
    background-color: #001f3f;
}

.navi:hover {
    background-color: #00152b;
}

header {
    /*height: 600px;*/
}

.cover {
    height: 110px;
}

.tabbtn {
    padding: 1em 2em;
    cursor: pointer;
    background-color: transparent;
    width: 148px;
}

.content {
    margin: 1em 4em;
}

.tabbtn.active {
    font-weight: bold;
    color: black;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.tabbtn:hover {
    color: black;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 1em;
    display: none;
    background-color: #660b66;
    overflow: hidden;
    /*height: 300px;*/
}

.main-stat {
    display: flex;
    background-color: rgb(85, 76, 83);
}

.left-stat {
    background-color: bisque;
    width: 50%;
    margin: 0.5em 0;
    padding: 1em;
    text-align: justify;
    text-indent: 1em;
}

.right-stat {
    background-color: rgb(228, 133, 18);
    width: 50%;
    margin: 0.5em 0;
    padding: 1em;
    line-height: 4em;

}

.get-data {
    max-width: 500px;
    margin: 0 auto;
}

/*
background:linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
#container {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
  }
  #container img {
    display: block;
    transition: transform .4s;
  }
  #container:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
  }



.sector-main-name{color: white;
padding-top: 120px;}

.sectorA{padding: 0px;
text-decoration: none;}
.main-3-sector {
	width: 100%;
	height: 100%;
}
.sec1 {
	width: 50%;
	height: 300px;
	background-image: url('../media/sector-agriculture.png');
	background-size: cover;
}
.sec2 {
	width: 50%;
	height: 300px;
	background-color: rgb(47, 0, 255);
}
.sec3 {
	width: 50%;
	height: 300px;
	background-image: url('../media/sector-service.jpg');
	background-size: cover;
	/*background:linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
}
.sector-main-name {
	color: white;
	padding-top: 120px;
}
.sectorA {
	padding: 0px;
	text-decoration: none;
}

.fff{
	width: 100px;
	height: 100px;
background-color: black;
color: red;
position: absolute;
top: 81px;
}
.nav  {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #f2eee4;
	z-index: 999;
}
.nav-li-a{
		float: right;
}
.logo-li {
		float: left;
}
.logo-li a{
	padding: 5px 12px;
}
.logo {
	max-width: 79px;
	max-height: 70px;
	width: auto;
	height: auto;
}
nav a{
	text-decoration: none;
	padding: 29px 12px;
	color: black;
	display:block;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav :hover {
	background-color: white;
	color: #736747;
	transition: .5s;
}
nav ul :hover{
	background-color: white;
		transition: .9s;
}
.but01{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}
.but02{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}
	.but03{
		cursor: pointer;
		width: 100px;
		height: 30px;
		margin: 20px;
		border-radius: 15px;}
 */

@media screen and (max-width: 780px) {
    header {
    }

    .tabbtn {
        width: 138px;
    }
}