.navi {
    background-color: rgb(75, 42, 75);
background-color: purple;
}

header {
    height: 600px;
}

@media screen and (max-width: 780px) {
    header {
        font-size: 70%;
    }
}

.cover {
    height: 110px;
}

[class*="btn"] {
    /*color: gray;*/
    padding: 10px 40px;
    cursor: pointer;
}

.content {
    padding-top: 3%;
    margin: 0 10%;
    /*height: 80vh;*/
    position: relative;
    background-color: purple;
    top: 80px;
}

.tab a.active {
    font-weight: bold;
    color: black;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.tab a:hover {
    color: black;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: purple;
    overflow: hidden;
    /*height: 300px;*/
}

.div-for-but {
    width: 100%;
    height: 90px;
    background-color: aqua;
}

.div-main-for-stat {
    width: 100%;
    height: 400px;
    background-color: rgb(13, 31, 31);
}

.div-main-for-stat-data {
    width: 50%;
    height: 400px;
    background-color: rgb(133, 20, 104);
    float: left;

}

.div-main-for-stat-data-sum {
    width: 50%;
    height: 400px;
    background-color: rgb(85, 76, 83);
    float: right;
}

.div-main-for-stat-data-00 {
    width: 80%;
    height: 300px;
    background-color: bisque;
    float: right;
    margin-top: 45px;
}

.div-main-for-stat-data-sum-00 {
    width: 80%;
    height: 300px;
    background-color: rgb(228, 133, 18);
    float: left;
    margin-top: 45px;

}

.div-for-barchart {
    width: 100%;
    height: 300px;
    background-color: blue;
}

/*
background:linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
#container {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
  }
  #container img {
    display: block;
    transition: transform .4s;
  }
  #container:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
  }



.sector-main-name{color: white;
padding-top: 120px;}

.sectorA{padding: 0px;
text-decoration: none;}
.main-3-sector {
	width: 100%;
	height: 100%;
}
.sec1 {
	width: 50%;
	height: 300px;
	background-image: url('../media/sector-agriculture.png');
	background-size: cover;
}
.sec2 {
	width: 50%;
	height: 300px;
	background-color: rgb(47, 0, 255);
}
.sec3 {
	width: 50%;
	height: 300px;
	background-image: url('../media/sector-service.jpg');
	background-size: cover;
	/*background:linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
}
.sector-main-name {
	color: white;
	padding-top: 120px;
}
.sectorA {
	padding: 0px;
	text-decoration: none;
}

.fff{
	width: 100px;
	height: 100px;
background-color: black;
color: red;
position: absolute;
top: 81px;
}
.nav  {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #f2eee4;
	z-index: 999;
}
.nav-li-a{
		float: right;
}
.logo-li {
		float: left;
}
.logo-li a{
	padding: 5px 12px;
}
.logo {
	max-width: 79px;
	max-height: 70px;
	width: auto;
	height: auto;
}
nav a{
	text-decoration: none;
	padding: 29px 12px;
	color: black;
	display:block;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav :hover {
	background-color: white;
	color: #736747;
	transition: .5s;
}
nav ul :hover{
	background-color: white;
		transition: .9s;
}
.but01{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}
.but02{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}
	.but03{
		cursor: pointer;
		width: 100px;
		height: 30px;
		margin: 20px;
		border-radius: 15px;}
