body{
	background-image: url("../media/slide2.jpg");
	background-position: center;
	background-size: cover;
}
.eco-main{
 height: 100vh;
	top: 0;
	width: 100%;
}
.div-for-stat{
	top: 50vh;
	position: absolute;
	width: 100%;
	height: 100px;
	/* border: 1px solid black; */
}
[class*="but"]{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}

/*
background:linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
#container {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
  }
  #container img {
    display: block;
    transition: transform .4s;
  }
  #container:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
  }



.sector-main-name{color: white;
padding-top: 120px;}

.sectorA{padding: 0px;
text-decoration: none;}



.nav-div {
	width: 100%;
	height: 80px;
}
.nav-div-tab {
	width: 60%;
	height: 80px;
	float: right;
}
.nav-div-logo {
	width: 40%;
	height: 50px;
	float: left;
}
.nav-div-ancor {
	margin: 0;
	padding-top: 0;
}

.main-3-sector {
	width: 100%;
	height: 100%;
}
.sec1 {
	width: 50%;
	height: 300px;
	background-image: url('../media/sector-agriculture.png');
	background-size: cover;
}
.sec2 {
	width: 50%;
	height: 300px;
	background-color: rgb(47, 0, 255);
}
.sec3 {
	width: 50%;
	height: 300px;
	background-image: url('../media/sector-service.jpg');
	background-size: cover;
	/*background:linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
}
.sector-main-name {
	color: white;
	padding-top: 120px;
}
.sectorA {
	padding: 0px;
	text-decoration: none;
}

.fff{
	width: 100px;
	height: 100px;
background-color: black;
color: red;
position: absolute;
top: 81px;
}
.nav  {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #f2eee4;
	z-index: 999;
}
.nav-li-a{
		float: right;
}
.logo-li {
		float: left;
}
.logo-li a{
	padding: 5px 12px;
}
.logo {
	max-width: 79px;
	max-height: 70px;
	width: auto;
	height: auto;
}
nav a{
	text-decoration: none;
	padding: 29px 12px;
	color: black;
	display:block;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav :hover {
	background-color: white;
	color: #736747;
	transition: .5s;
}
nav ul :hover{
	background-color: white;
		transition: .9s;
}
.but01{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}
.but02{
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 20px;
	border-radius: 15px;
}
	.but03{
		cursor: pointer;
		width: 100px;
		height: 30px;
		margin: 20px;
		border-radius: 15px;}
