* {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background-color: white;
	background-image:url("../media/investor.jpg");
	background-size: cover;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../media/OpenSans.ttf');
}
.nav  {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #f2eee4;
	z-index: 999;
}
.nav-li-a{
		float: right;
}
.logo-li {
		float: left;
}
.logo-li a{
	padding: 5px 12px;
}
.logo {
	max-width: 79px;
	max-height: 70px;
	width: auto;
	height: auto;
}
nav a{
	text-decoration: none;
	padding: 29px 12px;
	color: white;
	display:block;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav :hover {
	background-color: white;
	color: #736747;
	transition: .5s;
}
nav ul :hover{
	background-color: white;
		transition: .9s;
}
.div-goals-invest-about {
	position: relative;
	line-height: 20px;
	top: 80px;
	width: 100%;
	height: 250px;
	background-color: rgba(95, 95, 189, 0.281);
	color:white;
}
.div-goals-invest {
	text-align: left;
	padding: 50px;
	position: relative;
	top: 80px;
	width: 80%;
	height: 1000px;
	border: 1px solid black;
	margin-left: 140px;
	color:white;
}
.goals-details {
	color: white;
}
.goals-details, .ACTION-list {
	margin-top: 10px;
	font-weight: 600;
	color:white;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  bottom:50px;
}
.unordred {
	list-style:inside;
}
.ordred {
	list-style:inside;
}