* {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background-color: white;
	background-image:url("../media/investor.jpg");
	background-size: cover;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../media/OpenSans.ttf');
}
.nav  {
	background-color: #4b4848;
}
.div-goals-invest-about {
	position: relative;
	line-height: 25px;
	top: 80px;
	width: 100%;
	height: 40%;
	padding: 40px;
	background-color: rgba(95, 95, 189, 0.281);
	color:white;
}
.div-goals-invest {
	text-align: left;
	padding: 50px;
	position: relative;
	top: 80px;
	width: 80%;
	height: 100%;
	border: 1px solid black;
	margin:5% 10% 10% 10%;
	color:white;
}
.goals-details {
	color: white;
}
.goals-details, .ACTION-list {
	margin-top: 10px;
	font-weight: 600;
	color:white;
}
.button{
	position: relative;
	height: 10vh;
	width: 100%;
}
button {
  background-color: #419944;
  border: none;
  color: white;
  padding:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
button:hover {
	background-color: #73ec77;
	font-size: 110%;
	transition: .5s;

}
.unordred {
	list-style:inside;
}
.ordred {
	list-style:inside;
}
.action{
	padding: 10px;
	padding-left: 40px;
	line-height: 25px;
}