.navi, .about {
    background-color: rgb(39, 39, 39);
}

.navi:hover {
    background-color: #87cdd4;
}

header {
    /*height: 240vh;*/
    background-color: rgb(39, 39, 39);
}

@media screen and (max-width: 780px) {
}

.cover {
    background-image: url(../media/investorzone.jpg);
}

.div-for-3main-inno {
    /*height: 100vh;*/
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgb(39, 39, 39), rgb(80, 80, 80));

}

.div-for-01-inno {
    /*display: block;*/
    /*height: 30vh;*/
}

.div-for-02-inno {
    margin: 5% 0 5% 3%;
    width: 45%;
    border-radius: 10px;
    float: left;
    color: white;
    height: 35vh;
    background-image: url(../media/innomain.jpg);
    background-size: cover;
}

.div-for-03-inno {
    margin: 5% 3% 5% 0;
    position: relative;
    width: 45%;
    border-radius: 10px;
    color: white;
    float: right;
    height: 35vh;
    background-image: url(../media/forum0.jpg);
    background-size: cover;
}

.div-for-02-inno:hover {
    transition: .6s;
    transform: scale(1.02);
}

.div-for-03-inno:hover {
    transition: .6s;
    transform: scale(1.02);
}